
.product-container .top-part{
    display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        gap: 15px;
        margin-bottom: 30px;
}


@media only screen and (min-width: 700px)  {
    .product-container .top-part{
        display: grid;
            grid-template-columns: repeat(2,1fr);
            place-items: center;
            gap: 15px;
    }
}